@charset "UTF-8";
/* 푸터 스타일 */
body {
	background-color: #252A31;
	font-family: sans-serif;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 150px;
	background-color: #26303C;
	padding: 0;
}

#footer_menu_wrapper {
	width: 1000px;
	margin: 0 auto;
}

#footer_menu {
	list-style: none;
	color: white;
	padding: 0;
}

#footer_menu li {
	display: inline;
	margin-right: 10px;
}

#footer_copyright {
	color: white;
}

/* 헤더 스타일 */
#header_top_wrap {
	width: 1000px;
	margin: 0 auto;
}

#page_title {
	font-size: 36pt;
	color: white;
}

#button_wrap {
	margin-left: 500px;
}

#button_wrap button {
	margin: 5px;
	padding: 6px;
	/* 둥굴게하는 코드 */
	border-radius: 4px;
}

#menu_bar {
	background-color: #26303C;
	height: 60px;
	margin: 16px 0;
}

#menu_wrap {
	width: 1000px;
	margin: 0 auto;
}

#menu {
	list-style: none;
	margin: 0;
}

#menu li {
	height: 60px;
	width: 60px;
	text-align: center;
	color: white;
	display: inline-block;
	border-left: 1px solid white;
	border-right: 1px solid white;
}

/* JoinForm.jsp 스타일 */
.container {
	width: 1000px;
	margin: 0 auto;
	color: white;
}

#join_title {
	width: 100px;
	font-size: 15pt;
	border-top: 2px solid gray;
	text-align: center;
	margin-top:50px;
}

#join_form_wrapper {
	width: 800px;
	margin: 50px auto;
}

#join_form {
	width: 100%;
}